/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.banner {
  background-color: #0A1019;
  color: white;
  padding: 4rem 0;
  text-align: center;
  margin-top: 40px;
  border-radius: 0.75rem;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1560px;
  margin: 0 auto;
  padding: 0 1rem;
  max-height: 100%;
  border-radius: 12px;

}

.bannerContent {
  max-width: 800px;
  margin: 0 auto;
  height: 100%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: white;
  font-family: 'Montserrat';
}

.description {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #e0e0e0;
  margin: 0 auto;
  display: -webkit-box;
  overflow: hidden;
  font-family: 'Montserrat';
}

@media (max-width: 768px) {
  .banner {
    margin: 32px 0 0 0;
    max-width: 100%;
  }

  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }
} 