/* Default Styles (Mobile First) */
.cardContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}


.imageContainer {
  position: relative;
  width: 100%;
  height: 200px; /* Fixed height for the image container */
  background: #f5f5f5;
}

.propertyImage {
  object-fit: cover;
  object-position: center;
}

.exclusive {
  width: 82px;
  height: 31px;
  position: absolute;
  border-radius: 16px;
  gap: 10px;
  top: 8px;
  left: 12px;
  background-color: #007AFF;
  color: white;
  padding: 0.40rem 0.75rem;
  border-radius: 16px;
  font-size: 0.75rem;
  font-weight: 500;
  z-index: 10;
  letter-spacing: 0.01em;
}

.propertyInfo {
  padding: 0 16px 0;
  display: flex
  ;
          flex-direction: column;
}

.title {
  font-size: 16px; /* 18px */
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 8px;
  margin-top: 12px;
  line-height: 1.4;
  font-family: 'Montserrat';
}

.location {
  color: #07151F;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 12px;
  font-family: 'Montserrat';
}

.features {
  display: flex;
  gap: 24px; /* 24px gap between features */
  color: #07151F;
  margin-bottom: 10.5px;
  border-bottom: 1px solid #E6EBED;
  padding-bottom: 12px; /* 12px distance from content to border */
}

.feature {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  color: #07151F;
  font-size: 12px;
  font-weight: 500;
}

.feature img {
  width: 20px;
  height: 14px;
}

.feature svg {
  color: #6b7280;
}

.priceRow {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  gap: 16px;
}

.price {
  font-size: 12px;
  font-weight: 600;
  color: #1f2937;
}

.actions {
  display: flex;
  margin-left: auto; /* Push actions to the right */
}

.actionButton {
  padding: 0.375rem;
  border-radius: 50%; /* Make it circular */
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9fafb;
  border: solid 1px #cbd5e1; /* Light gray border */
  width: 36px; /* Set fixed width */
  height: 36px; /* Set fixed height */
  cursor: pointer;
}

.actionButton:hover {
  background: #f1f5f9; /* Slightly darker on hover */
}

.resultsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.container {
  background: #fff;
}
.propertyCard{
  width: 100%;
  height: 100%;
}
.propertyCardLink {
  text-decoration: none;
  color: inherit;
  display: block;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
  width: 370px; /* Full width of the column */
  height:360px; /* Minimum height */
  border: 1px solid #E6EBED; /* Border width */
}

.propertyCardLink:hover .propertyCard {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
}

.pagination {
  display: flex;
  justify-content: start;
  margin-top: 20px;
  margin-bottom: 142px;
  margin-top: 36px;
  margin-left: 15%;
}

.pageButton {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  left: 50px;
}

.pageButton:last-child {
  width: 84px;
  height: 44px;
}

.pageButton.active {
  background-color: #0A273B;
  color: white;
  border-color: #0A273B;
}

.pageButton:hover {
  background-color: #ddd;
}

.resultsCount {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: #0A273B;
}

.textEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1600px) {

  /* Default Styles (Mobile First) */
.cardContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.propertyCard:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 200px; /* Fixed height for the image container */
  background: #f5f5f5;
}

.propertyImage {
  object-fit: cover;
  object-position: center;
}

.exclusive {
  width: 82px;
  height: 31px;
  position: absolute;
  border-radius: 16px;
  gap: 10px;
  top: 8px;
  left: 12px;
  background-color: #007AFF;
  color: white;
  padding: 0.40rem 0.75rem;
  border-radius: 16px;
  font-size: 0.75rem;
  font-weight: 500;
  z-index: 10;
  letter-spacing: 0.01em;
}

.propertyInfo {
  padding: 0 16px 0;
  display: flex
  ;
          flex-direction: column;
}

.title {
  font-size: 15px;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 8px;
  margin-top: 12px;
  line-height: 1.4;
  font-family: 'Montserrat';
}

.location {
  color: #07151F;
  font-size: 11px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 1rem;
  font-family: 'Montserrat';
}

.features {
  display: flex
  ;
          gap: 18px;
          color: #07151F;
          margin-bottom: 10.5px;
          border-bottom: 1px solid #E6EBED;
          padding-bottom: 12px;
}

.feature {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  color: #07151F;
  font-size: 10px;
  font-weight: 500;
}

.feature img {
  width: 20px;
  height: 14px;
}

.feature svg {
  color: #6b7280;
}

.priceRow {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  gap: 16px;
}

.price {
  font-size: 12px;
  font-weight: 600;
  color: #1f2937;
}

.actions {
  display: flex;
  margin-left: auto; /* Push actions to the right */
}

.actionButton {
  padding: 0.375rem;
  border-radius: 50%; /* Make it circular */
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9fafb;
  border: solid 1px #cbd5e1; /* Light gray border */
  width: 36px; /* Set fixed width */
  height: 36px; /* Set fixed height */
  cursor: pointer;
}

.actionButton:hover {
  background: #f1f5f9; /* Slightly darker on hover */
}

.resultsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.container {
  background: #fff;
}

.propertyCard{
  width: 100%;
  height: 100%;
}
.propertyCardLink {
  text-decoration: none;
  color: inherit;
  display: block;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
  width: 312px; /* Full width of the column */
  height:360px; /* Minimum height */
  border: 1px solid #E6EBED; /* Border width */
}

.propertyCardLink:hover .propertyCard {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 38px;
  margin-bottom: 142px;
  gap: 6px;
}
.pageButton {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #07151F;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  left: 50px;
  font-family: 'Montserrat';
font-weight: 500;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;


}

.pageButton:last-child {
  width: 84px;
  height: 44px;
  font-family: 'Montserrat';
font-weight: 500;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
color:#0A273B;

}

.pageButton.active {
  background-color: #0A273B;
  color: white;
  border-color: #0A273B;
}

.pageButton:hover {
  background-color: #ddd;
}
.resultsCount {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: #0A273B;
}

.textEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
  
}