/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Default Styles (Mobile First) */
.cardContainer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
  width: 1563px;
}

/* github */

.imageContainer {
  position: relative;
  width: 100%;
  height: 200px; /* Fixed height for the image container */
  background: #f5f5f5;
  overflow: hidden;
}

.propertyImage {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: scale(1);
	-ms-transform: scale(1);
	    transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.exclusive {
  width: 82px;
  height: 31px;
  position: absolute;
  border-radius: 16px;
  gap: 10px;
  top: 8px;
  left: 12px;
  background-color: #007AFF;
  color: white;
  padding: 0.40rem 0.75rem;
  border-radius: 16px;
  font-size: 0.75rem;
  font-weight: 500;
  z-index: 10;
  letter-spacing: 0.01em;
}

.propertyInfo {
  padding: 0 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
  ;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
}

.title {
  font-size: 20px; /* 18px */
  font-weight: 500;
  color: #0A273B;
  margin-bottom: 8px;
  margin-top: 24px;
  line-height: 1.4;
  font-family: 'Montserrat';
}
.title_second{
  font-size: 16px; /* 18px */
  font-weight: 500;
  color: #0A273B;
  margin-bottom: 8px;
  line-height: 1.4;
  font-family: 'Montserrat';
}
.property_title{
  font-family: 'Montserrat';
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(10, 39, 59, 1);
margin: 12px 0 8px 0;

}
.location {
  color: #07151F;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 12px;
  font-family: 'Montserrat';
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px; /* 24px gap between features */
  color: #07151F;
  border-bottom: 1px solid #E6EBED;
  padding-bottom: 12px; /* 12px distance from content to border */
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.375rem;
  color: #07151F;
  font-size: 12px;
  font-weight: 500;
}

.feature img {
  width: 20px;
  height: 14px;
}

.feature svg {
  color: #6b7280;
}

.priceRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  gap: 16px;
  height: 32px;
}

.price {
  font-size: 12px;
  font-weight: 600;
  color: #1f2937;
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto; /* Push actions to the right */
}

.actionButton {
  padding: 0.375rem;
  border-radius: 50%; /* Make it circular */
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f9fafb;
  border: solid 1px #cbd5e1; /* Light gray border */
  width: 36px; /* Set fixed width */
  height: 36px; /* Set fixed height */
  cursor: pointer;
}

.actionButton:hover {
  background: #f1f5f9; /* Slightly darker on hover */
}

.resultsHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 24px;
}

.container {
  background: #fff;
}
.propertyCard{
  width: 100%;
  height: 100%;
}
.propertyCardLink {
  text-decoration: none;
  color: inherit;
  display: block;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 372px; /* Full width of the column */
  height:360px; /* Minimum height */
  border: 1px solid #E6EBED; /* Border width */
}

.propertyCardLink:hover{
  border: 1px solid #3598db;
  }
  .propertyImage:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 38px;
  margin-bottom: 142px;
  gap: 6px;
  height: 48px;
}
.paginationMany{
  width: auto !important;
}
.pageButton {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #07151F;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
  width: 46px ;
  height: 46px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 2px;
  color: #0A273B;
}

.pageButtonAuto {
  width: auto;
}

.pageButton:last-child {
  width: 84px;
  height: 46px;
  font-family: 'Montserrat';
font-weight: 500;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
color:#0A273B;
margin-top: 2px;

}

.pageButton.active {
  background-color: #0A273B;
  color: white;
  border-color: #0A273B;
  width: 48px; /* Ensure same width */
  height: 48px; /* Ensure same height */
  margin: 0;
}

.pageButton:hover {
  background-color: #ddd;
}

.resultsCount {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: #0A273B;
}

.textEllipsis {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.popupContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 100px;
}

.mobilePagination {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.pageInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  
}
.pageText{
  font-family: 'Montserrat';
font-size: 12px;
color: rgba(10, 39, 59, 1);
}
.pageSelect {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid rgba(7, 21, 31, 1);
  background-color: #fff;
  font-family: 'Montserrat';
  font-size: 16px;
  color: #0A273B;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../../assets/img/mobilepagesvg.svg");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 12px;
  padding-right: 36px;
  width: 55px;
  height: 36px;
  margin-right: 24px;
}
.pageTotal{
  font-family: 'Montserrat';
font-weight: 400;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
margin-right: 56px;

}
.mobilePagination .pageButtonmobile{
  border-radius: 4px;
  border: 1px solid rgba(7, 21, 31, 1);
  background-color: #fff;
  font-family: 'Montserrat';
  font-size: 16px;
  color: #0A273B;
  background-size: 12px;
  width: 40px;
  height: 36px;
  align-items: center;
}
@media (max-width: 1600px) {

  /* Default Styles (Mobile First) */
.cardContainer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  width: 1293px;
}
.propertyCard:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 200px; /* Fixed height for the image container */
  background: #f5f5f5;
  overflow: hidden;
}

.propertyImage {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.exclusive {
  width: 82px;
  height: 31px;
  position: absolute;
  border-radius: 16px;
  gap: 10px;
  top: 8px;
  left: 12px;
  background-color: #007AFF;
  color: white;
  padding: 0.40rem 0.75rem;
  border-radius: 16px;
  font-size: 0.75rem;
  font-weight: 500;
  z-index: 10;
  letter-spacing: 0.01em;
}

.propertyInfo {
  padding: 0 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
  ;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
}

.title {
  font-size: 15px;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 8px;
  margin-top: 12px;
  line-height: 1.4;
  font-family: 'Montserrat';
}

.location {
  color: #07151F;
  font-size: 11px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 1rem;
  font-family: 'Montserrat';
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
  ;
          gap: 18px;
          color: #07151F;
          margin-bottom: 10.5px;
          border-bottom: 1px solid #E6EBED;
          padding-bottom: 12px;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.375rem;
  color: #07151F;
  font-size: 10px;
  font-weight: 500;
}

.feature img {
  width: 20px;
  height: 14px;
}

.feature svg {
  color: #6b7280;
}

.priceRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5rem;
  gap: 16px;
}

.price {
  font-size: 12px;
  font-weight: 600;
  color: #1f2937;
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto; /* Push actions to the right */
}

.actionButton {
  padding: 0.375rem;
  border-radius: 50%; /* Make it circular */
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f9fafb;
  border: solid 1px #cbd5e1; /* Light gray border */
  width: 36px; /* Set fixed width */
  height: 36px; /* Set fixed height */
  cursor: pointer;
}

.actionButton:hover {
  background: #f1f5f9; /* Slightly darker on hover */
}

.resultsHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.container {
  background: #fff;
}

.propertyCard{
  width: 100%;
  height: 100%;
}
.propertyCardLink {
  text-decoration: none;
  color: inherit;
  display: block;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 312px; /* Full width of the column */
  height:350px; /* Minimum height */
  border: 1px solid #E6EBED; /* Border width */
}


.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 38px;
  margin-bottom: 142px;
  gap: 6px;
  height: 48px;
}
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 38px;
  margin-bottom: 142px;
  gap: 6px;
  height: 48px;
}
.pageButton {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #07151F;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
  width: 46px;
  height: 46px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 2px;
}

.pageButton:last-child {
  width: 84px;
  height: 46px;
  font-family: 'Montserrat';
font-weight: 500;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
color:#0A273B;
margin-top: 2px;

}

.pageButton.active {
  background-color: #0A273B;
  color: white;
  border-color: #0A273B;
  width: 48px; /* Ensure same width */
  height: 48px; /* Ensure same height */
  margin: 0;
}

.pageButton:hover {
  background-color: #ddd;
}
.resultsCount {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: #0A273B;
}

.textEllipsis {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.propertyCardLink:hover{
  border: 1px solid #3598db;
  }
  .propertyImage:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
}
@media (max-width:1400px){
  .resultsHeader{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: 24px;
}
.cardContainer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
  
;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
      max-width: 1113px;
}
.features{
  display: flex
;
        gap: 5px;
        color: #07151F;
        margin-bottom: 10.5px;
        border-bottom: 1px solid #E6EBED;
        padding-bottom: 12px;
}
.propertyCardLink{
  text-decoration: none;
        color: inherit;
        display: block;
        background: white;
        border-radius: 16px;
        overflow: hidden;
        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        width: 267px;
        height: 350px;
        border: 1px solid #E6EBED;
}
.propertyCardLink:hover{
  border: 1px solid #3598db;
  }
  .propertyImage:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
}
@media (max-width:1200px){
.propertyCardLink{
  text-decoration: none;
        color: inherit;
        display: block;
        background: white;
        border-radius: 16px;
        overflow: hidden;
        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        width: 222px;
        height: 350px;
        border: 1px solid #E6EBED;
}
.cardContainer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
  
;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
      max-width: 933px;
}
.feature img{
  width: 10px;
  height: 12px;
}
}
@media (max-width:992px){
  .resultsHeader{
    margin-top: 81px;
  }
  .propertyCardLink:hover{
    border: 1px solid #3598db;
    }
    .propertyImage:hover{
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
    }
    .cardContainer{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      gap: 15px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
          max-width: 697px;
    }
}
@media (max-width:768px)
{
  .resultsHeader{
    margin-top: 20%;
  }
  .resultsCount{
    display: none;
  }
  .propertyCardLink{
    width: 100% !important;
    max-width: 247px;
  }
  .propertyCardLink:hover{
    border: 1px solid #3598db;
    }
    .propertyImage:hover{
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
    }  
      .cardContainer{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      gap: 15px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
          max-width: 509px;
    }


}
@media (max-width:600px)
{
  .resultsHeader{
    margin-top: 20%;
  }
  .resultsCount{
    display: none;
  }
  .propertyCardLink{
    width: 100% !important;
    max-width: 100%;
  }
  .propertyCardLink:hover{
    border: 1px solid #3598db;
    }
    .propertyImage:hover{
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
    }  
      .cardContainer{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      gap: 15px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
         max-width: 370px;
    }
}
@media (max-width:480px)
{
  .priceRow{
    margin-top: 10.5px;
  }
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    max-width: 100%;
    flex-direction: column;
}
  .propertyCardLink{
    cursor: pointer;
    max-width: 354px;
    height: 360px;
  }
  .title{
    font-family: 'Montserrat';
font-weight: 600;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;

  }
  .resultsHeader{
    padding-top: 24px;
    padding-bottom: 16px;
  }
  .pagination{
    display: flex
;
        justify-content: center;
        margin-top: 38px;
        /* margin-bottom: 142px; */
        gap: 6px;
        height: 48px;
        margin-bottom: 24px;
  }
}
