.newProperties {
  margin-top: 5rem;
  min-height: 100vh;
  background-color: #ffffff;
  padding: 2rem 0;
}

.container {
  margin: 0 auto;
}

.filterButtons {
  display: flex;
  float: right;
}

.buttonGroup {
  display: flex;
}

.buttonGroup button {
  padding: 0.5rem 1.5rem;
  border: 1px solid #ccc;
  background: transparent;
  color: #ffff;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  width: 169px;
height: 48px;
border-radius: 16px;

}

.buttonGroup button.active {
  background-color: #ffff;
  color: #0A273B;
  border: none;
  font-family: 'Montserrat', sans-serif;
}

.propertyCard {
  background-color: white;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  background-color: #0A273B;
}

.propertyCardTitle {
  font-family: "Felix Titling", serif;
  font-size: 40px;
  color: #FFFFFF;
  margin-bottom: 2rem;
  padding: 2rem 2rem 0;
}

.propertyContent {
  display: flex;
  gap: 2rem;
  padding: 0 2rem;
}

.imageContainer {
  flex: 2;
  height: 400px;
  position: relative;
  border-radius: 32px;
  overflow: hidden;
}

.propertyImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.propertyInfo {
  display: flex;
}

.features {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.features li {
  color: #ffff;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  padding-left: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;

}

.features li:before {
  content: "•";
  position: absolute;
  left: 0;
  color: #ffffff;
}

.propertyDetails {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  gap: 2rem;
}

.leftContent {
  flex: 1;
}

.propertyName {
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 0.5rem;
  font-family: 'Montserrat', sans-serif;
}

.propertyType {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.price {
  font-size: 2.25rem;
  font-weight: 400;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.rightContent {
  display: flex;
  align-items: flex-end;
}

.seeMore {
  padding: 0.75rem 1.5rem;
  background-color: #ffffff;
  color: #0A273B;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.seeMore:hover {
  background-color: #1a2a3a;
}

@media (max-width: 768px) {
  .filterButtons {
    justify-content: center;
  }

  .buttonGroup {
    flex-direction: column;
    width: 100%;
  }

  .buttonGroup button {
    width: 100%;
  }

  .propertyContent {
    flex-direction: column;
  }

  .imageContainer {
    height: 300px;
  }

  .propertyDetails {
    flex-direction: column;
    gap: 1rem;
  }

  .rightContent {
    justify-content: flex-start;
  }
}