.home-banner {
  position: relative;
  height: 100vh;
  min-height: 600px;
}

.banner-slider {
  position: relative;
  height: 100%;
}

.swiper-item-relative {
  position: relative;
  height: 100vh;
  min-height: 600px;
}

.swiper-item-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.swiper-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-content {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 185px;
  color: white;
  text-align: center;
}

.text-b-i {
  margin-top: 6.9375px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat';
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #E6EBED;
}

.banner-content h1 {
  font-size: 56px;
  font-weight: 400;
  line-height: 1.2;
  max-width: 1067px;
  margin: 0 auto;
  font-family: "Felix Titling";
  letter-spacing: 1px;
}

.banner-search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 451px;
  z-index: 10;
  margin-top: 100px;
  text-align: center;
}

.search-tabs {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-bottom: 25px;
  margin-top: 5rem;
}

.tab {
  padding: 8px 16px;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: 400;
  line-height: 100%;
  position: relative;
}

.tab:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease;
}

.tab.active {
  color: #fff;
}

.tab.active:after {
  width: 100%;
}

.tab:hover:not(.active) {
  color: rgba(255, 255, 255, 0.9);
}

.tab:hover:not(.active):after {
  width: 50%;
}

.search-container {
  background: #fff;
  width: 451PX;
  height: 72PX;
  justify-content: space-between;
  top: 483px;
  left: 735px;
  border-radius: 60px;

}

.search-inputs {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 0;
  height: 100%;
  width: 100%;
  position: relative;
}

.size,
.where,
.price-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.size {
  width: 131px;
  padding: 30px;
}

.where {
  width: 150px;
  padding: 30px;
}

.search-inputs input {
  width: 158px;
  padding: 0 35px 0 20px;
  border: none;
  font-size: 16px;
  font-family: 'Montserrat';
  background: transparent;
  color: #333;
  height: 100%;
}

.truncate_input {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.line::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 48px;
  /* Adjust height of the line */
  background-color: #E6EBED;
  top: 50%;
  transform: translateY(-50%);
}

.clear_button {
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  background: #E2E8F0;
  border: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4A5568;
  font-size: 14px;
  cursor: pointer;
  z-index: 2;
  transition: all 0.2s ease;
}

.clear_button:hover {
  background: #CBD5E0;
  color: #2D3748;
}

.price-input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.price-input-container input {
  padding-right: 90px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.price-input-container .clear_button {
  right: 70px;
}

.search-inputs input::placeholder {
  color: #333;
  font-size: 16px;
  font-weight: 500;
}

.search-button {
  position: absolute;
  right: 4px;
  background: #7BCBC7;
  color: white;
  border: none;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  min-width: 45px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.search-button:hover {
  background: #69b3af;
}

.search-button svg {
  width: 20px;
  height: 20px;
}

/* Add overlay to banner image */
.swiper-item-relative::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
  z-index: 1;
}

.search-inputs input:focus {
  outline: none;
  /* Remove outline on focus */
  border: none;
  /* Remove border on focus */
  box-shadow: none;
  /* Remove box shadow on focus */
}

/* Responsive styles */
@media (max-width: 768px) {
  .swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
    height: 100% !important;
    width: 100% !important;
  }

  .text-b-i {
    font-size: 20px;
  }

  .banner-content {
    padding: 10px;
  }

  .banner-content h1 {

    font-size: 18px !important;
  }

  .banner-search {
    position: absolute;
    top: 205px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 350px;
    z-index: 10;
    text-align: center;
  }

  .search-tabs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  .price-input-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .tab {
    padding: 8px 0;
    border: none;
    background: none;
    cursor: pointer;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    transition: all 0.3s ease;
    text-transform: uppercase;
  }

  .tab.active {
    color: #fff;
    border-bottom: 2px solid #fff;
  }

  .search-container {
    position: relative;
    background: #fff;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 50px;
  }

  .search-inputs {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
  }

  .search-inputs input {
    border: none;
    background: transparent;
    width: 50%;
    padding: 0;
  }

  .search-inputs input::placeholder {
    color: #0A273B;
    font-size: 12px;
    font-weight: 500;
    opacity: 60%;
  }

  .search-inputs input:focus {
    outline: none;
  }

  .search-inputs::after,
  .search-inputs::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: #E5E5E5;
  }

  .search-inputs::before {
    left: 33%;
  }

  .search-inputs::after {
    left: 66%;
  }

  .search-button {
    position: absolute;
    right: -22px;
    background: #7BCBC7;
    color: white;
    border-radius: 40px;
    width: 32px;
    border: 1px #E6EBED solid;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .search-button svg {
    width: 14px;
    height: 14px;
  }
}

@media (max-width:1200px) {
  .banner-content h1 {
    font-size: 45px;
    font-weight: 400;
    line-height: 1.2;
    max-width: 1067px;
    margin: 0 auto;
    font-family: "Felix Titling";
    letter-spacing: 1px;
  }
}

.modal_overlay {
  position: fixed;
  top: calc(100% + 8px); /* 8px distance from the search container */
  left: 0;
  right: 0;
  width: 512px;
  margin: 0 auto; /* Center the modal */
  z-index: 1000;
  background: transparent;
}

.modal_content {
  background: #FFFFFF;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 100%;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  height: auto;
  gap: 12px;
  padding: 24px;

}

/* Active state for input containers */
.where.active,
.size.active,
.price-input-container.active {
  border-width: 1px;
  border-radius: 60px;
  width: 100%;
  height: 100%;
  box-shadow:
    4px 4px 4px 0px #0000001a,
    -4px 4px 8px 0px #0000001a;
  width: 150px;
}

/* Modal content styling */
.location_search h3,
.size-search h3,
.price-search h3 {
  margin-bottom: 15px;
  color: #333;
}

.location_search input,
.size-search input,
.price-search input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.range-inputs {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.range-inputs input {
  flex: 1;
}

.range-inputs select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.location_search h3 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 12px;
  color: #0D1B39;
  text-align: start;
  border-bottom: 1px solid rgba(230, 235, 237, 1);
  padding-bottom: 12px;
}


.input_wrapper {
  display: flex;
  align-items: center;
  background: #F7FAFC;
  border: 1px solid #E2E8F0;
  border-radius: 12px;
  padding: 0px 12px;
  margin-bottom: 15px;
  position: relative;
  height: 36px;
}

.input_wrapper input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  color: rgba(168, 168, 168, 1);
  margin: 0;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;

}

.search_icon {
  width: 18px;
  height: 18px;
}

.grid_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 8px;
  max-height: 250px;
  overflow-y: auto;
}

.district_card {
  background: #FFFFFF;
  border: 1px solid #EDF2F7;
  border-radius: 12px;
  padding: 12px 8px;
  text-align: center;
  font-size: 12px;
  color: #1A202C;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 0.2s ease;
  width: 104px;
  height: 88px;
  overflow: hidden;
  
}

.district_card:hover {
  background: #EDF2F7;
}

.pin_icon {
  width: 20px;
  height: 20px;
}



/* Make sure the lines transition smoothly */
.search-inputs::before,
.search-inputs::after {
  transition: left 0.3s ease;
}

.district_location {
  border-bottom: 1px solid rgba(230, 235, 237, 1);
  width: 100%;
  padding-bottom: 19px;
  height: 100%;
}
.selected {
  background-color: #e0f2fe; /* 💡 light blue background */
  border-color: #38bdf8;     /* blue border */
}
.district_name {
  font-family: 'Montserrat';
font-weight: 500;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;

}
.district_name span {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.district_location svg {
  width: 20px;
  height: 27px;
}

.card {
  width: 100%;
}

.heading {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #0A273B;
  margin-bottom: 16px;
  text-align: start;
  
}
.dualSlider {
  width: 100%;
  appearance: none;
  height: 4px;
  background: #7ACBC4;
  border-radius: 5px;
  outline: none;
  margin-bottom: 1rem;
  max-width: 463px;
  padding: 0 !important;
}

.dualTrack {
  top: 0;
  bottom: 0;
  background: #7ACBC4;
  border-radius: 999px;
}

.dualTrack-1 {
  background: #007AFF;
}

.dualThumb {
  width: 20px;
  height: 20px;
  background: #7ACBC4;
  border: 2px solid #7ACBC4;
  border-radius: 50%;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
}

.dualThumb:hover {
  box-shadow: 0 0 0 5px rgba(0, 122, 255, 0.1);
}

/* Input Styles */
.inputs {
  display: flex;
  gap: 15px;
}

.input {
  width: 100px;
  padding: 8px 12px;
  border: 1px solid #E6EBED;
  border-radius: 4px;
}

.input:focus {
  outline: none;
  border-color: #007AFF;
}

.label {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: start;
  width: 100%;
  margin-bottom: 5px;
  
}

.inputs {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.input {
  flex: 1;
  padding: 0.75rem;
  border: 1px solid rgba(230, 235, 237, 1);
  border-radius: 10px;
  font-size: 12px;
  font-family: 'Montserrat';
  background: white;
  color: rgba(10, 39, 59, 1);
  height: 36px;
}
.price_card {
  width: 100%;
}

.price_heading {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #0A273B;
  margin: 24px 0 24px 0;
  text-align: start;
  
}

.price_slider {
  width: 100%;
  appearance: none;
  height: 4px;
  background: #7ACBC4;
  border-radius: 5px;
  outline: none;
  margin-bottom: 29px !important;
  max-width: 463px;
  padding: 0 !important;

  &::-webkit-slider-thumb {
    appearance: none;
    height: 20px;
    width: 20px;
    background: #4ea69e;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid white;
  }
}

.price_inputs {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.input {
  flex: 1;
  padding: 0.75rem;
  border: 1px solid rgba(230, 235, 237, 1);
  border-radius: 10px;
  font-size: 12px;
  font-family: 'Montserrat';
  background: white;
  color: rgba(10, 39, 59, 1);
  height: 36px;
}