/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.offplanebanner {
  position: relative;
  width: 100%;
  height: 60vh;
  min-height: 400px;
  margin-top: 38px;
  border-radius: 12px;
}

.bannerImageWrapper {
  position: relative;
  width: 100%;
  height: 500px;
  /* Adjust height as needed */
  border-radius: 12px;
}

.bannerImage {
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 0;
  border-radius: 12px;
}

.bannerContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  /* Align content to bottom */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  z-index: 1;
  border-radius: 12px;
  padding: 24px 16px;
  /* Add padding at bottom */
  text-align: left;
}

.bannerContent h1 {
  color: white;
  font-size: 40px;
  font-weight: 600;
  text-align: left;
  letter-spacing: normal;
  text-transform: none;
  margin-bottom: 8px;
  font-family: "Felix Titling";
}

.propertyDetails {
  margin-top: 82px;
  margin-bottom: 30px;
}

.propertyDetails h2 {
  font-size: 30px;
  color: #0A273B;
  margin-bottom: 16px;
  font-family: 'Montserrat';
}

.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  font-family: 'Montserrat';
  margin-top: 30px;
}

.priceWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.aedPricestart {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;

}

.aedPrice {
  color: #007AFF;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Montserrat';
}

.usdPrice {
  color: #007AFF;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Montserrat';
}

.contentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}

.description {
  margin-bottom: 30px;
  margin-right: 133px;
  font-family: 'Montserrat';
  letter-spacing: 0%;

}

.description p {
  color: #0A273B;
  line-height: 1.6;
  margin-bottom: 16px;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 500;

}

.readMore {
  color: #0066FF;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Montserrat';
}



.qrCard {
  margin-top: 82px;
  border: 1px solid #07151F;
  border-radius: 12px;
  padding: 24px;
  background: #fff;
  text-align: center;
  font-family: 'Montserrat';
  /* Apply Montserrat font */
  margin-left: auto;
  margin-right: 0;
  max-width: 538px;
}

.qrCardmodern {
  margin-top: 16px;
  border: 1px solid #07151F;
  border-radius: 12px;
  padding: 24px 24px 24px 0;
  background: #fff;
  text-align: center;
  font-family: 'Montserrat';
  margin-left: auto;
  margin-right: 0;
  max-width: 538px;
}

.qrCardmodern h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 24px;
  font-family: 'Montserrat';
  width: 10rem;
  text-align: flex-start;
  padding: 0 16px;
}

.qrbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  /* Space between QR code and text */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* Align items vertically */
  max-width: 100%;
  /* Ensure it doesn't overflow */
  margin: 0 auto;
  /* Center the content */
  padding: 0 15px;
  /* Add padding for better spacing */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Include padding in width calculation */
}

.qrbody img {
  width: 149px;
  height: 148px;
  border-radius: 8px;
}

.qrbodyContent {
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.qrbody p {
  color: #666;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  /* Remove default margin */
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  /* Allow text to take remaining space */
  font-family: 'Montserrat';
  /* Apply Montserrat font */
}

.qrButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-top: auto;
  font-family: 'Montserrat';
}

.downloadBtn,
.enquireBtn {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px 20px;
  border-radius: 16px;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
}

.downloadBtn {
  background-color: #0A2C3D;
  border: 1px solid #0A2C3D;
  color: white;
}

.enquireBtn {
  background-color: white;
  border: 1px solid #E5E7EB;
  color: #333;
}

.buildingSection {
  margin: 60px 0;
}

.buildingImageWrapper {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 3/2;
  border-radius: 12px;
}

.buildingImage {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 16px;
}

.featuresSection,
.amenitiesSection {
  margin-bottom: 40px;
}

.featuresSection h3,
.amenitiesSection h3 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 24px;

}

.featuresList {
  list-style: none;
  padding: 0;
}

.featuresList img {
  margin-right: 10px;
}

.featuresList li {
  position: relative;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0%;
  color: #07151F;
}

.qrText {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0%;
  text-align: flex-start;

}

.amenitiesList {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 12px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;

}

.amenitiesList img {
  margin-right: 10px;
}

.amenitiesList li {
  text-decoration: none;
  list-style-type: none;
}

.amenityItem {
  position: relative;
  padding-left: 24px;
  color: #4B5563;
  line-height: 1.6;
}


.locationSection {
  margin: 60px 0;
}

.locationSection h3 {
  font-size: 32px;
  color: #07151F;
  margin-bottom: 24px;
  font-family: 'Montserrat';
  /* Apply Montserrat font */
}

.locationSection h4 {
  font-size: 24px;
  color: #07151F;
  margin: 32px 0 24px;
  font-family: 'Montserrat';
  /* Apply Montserrat font */
}

.mapWrapper {
  position: relative;
  margin-bottom: 24px;
  border-radius: 12px;
  overflow: hidden;
  max-height: 340px;
}

.mapContainer {
  height: 400px;
  border: 1px solid #E5E7EB;
}

.map {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.map :global(.leaflet-tile-pane) {
  -webkit-filter: grayscale(0.6) brightness(1.05);
  filter: grayscale(0.6) brightness(1.05);
}

.map :global(.leaflet-control-container) {
  display: none;
}

.locationMapBtn {
  position: absolute;
  bottom: 16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: white;
  border: 1px solid #E5E7EB;
  padding: 8px 24px;
  border-radius: 20px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  z-index: 2;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-family: 'Montserrat';
  /* Apply Montserrat font */
  width: 392px;
  border: 1px solid #07151F;
  border-radius: 32px;
}

.locationMapBtn:hover {
  background: #f8f9fa;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nearbyGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
}

.nearbyColumn {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  max-width: 346.6666564941406px;
  height: 24px;
  justify-content: space-between;

}

.nearbyImage {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  object-fit: cover;
}

.nearbyPlace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.placeName {
  color: #07151F;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Montserrat';
}

.placeDistance {
  color: #007AFF;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Montserrat';
}

.qrImageWrapper {
  position: relative;
  width: 180px;
  height: 180px;
  margin: 0 auto;
}

/* Add Leaflet CSS to your global styles or import in _app.js */


/* Responsive styles */

.contactButton {
  margin-top: 20px;
  text-align: right;
  margin-right: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.contactBtn {
  background-color: #07151F;
  color: white;
  padding: 10px 20px;
  border: solid 2px #07151F;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-left: auto;
  margin-right: 0;
  max-width: 538px;
}

.contactBtn:hover {
  background-color: #0056b3;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #07151F;
  margin-top: 4rem;
}

/* Personal Info Div */
.consultantDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 4px;
  text-align: flex-start;
}

.consultantName {
  font-size: 16px;
  font-weight: 600;
  /* Montserrat 600 */
  color: #0A273B;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 12px;
  font-family: 'Montserrat';
  /* Apply Montserrat font */

}

.consultantRole {
  font-size: 12px;
  font-weight: 500;
  /* Montserrat 500 */
  color: #07151F;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 4px;
  font-family: 'Montserrat';
  /* Apply Montserrat font */
}

.languages {
  font-size: 12px;
  font-weight: 500;
  /* Montserrat 500 */
  color: #07151F;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 4px;
  font-family: 'Montserrat';
  /* Apply Montserrat font */
}

.email {
  font-size: 12px;
  font-weight: 500;
  /* Montserrat 500 */
  color: #07151F;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 4px;
  font-family: 'Montserrat';
  /* Apply Montserrat font */
}

.contactButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

.contactBtnperson,
.whatsappperson {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px 20px;
  border-radius: 32px;
  font-weight: 600;
  /* Montserrat 600 */
  cursor: pointer;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  white-space: nowrap;
  font-family: 'Montserrat';
  /* Apply Montserrat font */
}

.contactBtnperson {
  background-color: #0A273B;
  /* Button color */
  border: 1px solid #0A273B;
  color: white;
}

.whatsappperson {
  background-color: #0A273B;
  border: 1px solid #E5E7EB;
  color: white;
}

.sharelist {
  width: 100%;
  padding: 12px 20px;
  border-radius: 32px;
  font-weight: 600;
  /* Montserrat 600 */
  cursor: pointer;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  border: 1px solid #0A273B;
  background-color: #fff;
  color: #0A273B;
  font-family: 'Montserrat';
  /* Apply Montserrat font */
}

.sharelist:hover,
.contactBtnperson:hover,
.whatsappperson:hover {
  opacity: 0.9;
}

.personalInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.personalInfo img {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 8px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 55px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1000;
  /* Ensure it's on top of other content */
}

.modalContent {
  background-color: white;
  padding: 24px;
  border-radius: 12px;
  width: 100%;
  max-width: 1024px;
  /* Adjust as needed */
  position: relative;
  overflow-y: auto;
}

.closeButton {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.closeButton:hover {
  color: #000;
}

.exteriorInteriorSection {
  margin-top: 40px;
  background-color: #0A273B;
  padding: 40px 20px;
  color: #fff;
  width: 100%;
}

.exteriorimage {
  border-radius: 20px;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding: 0 20px;
}

.exteriorInteriorSection h3 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
}

.switcher {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.switchButton {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 6px 23px;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Montserrat';
  font-size: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.switchButton.active {
  background-color: #fff;
  color: #0A273B;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.exteriorSection,
.interiorSection {
  width: 100%;
}

.exteriorSection .row,
.interiorSection .row {
  margin: -12px;
}

.exteriorSection .col-md-3,
.interiorSection .col-md-3 {
  padding: 12px;
}

.exteriorimage {
  width: 372px;
  height: 272px;
  border-radius: 16px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.exteriorimage:hover {
  transform: scale(1.02);
}

.container {
  padding: 20px;
}

.sectionTitle {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 40px;
  font-family: 'Montserrat';
  /* Apply Montserrat font */
  color: #0A273B;
}

.propertyCard {
  border: none;
  border-radius: 16px;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  -o-transition: transform 0.3s ease, box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease, -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  position: relative;
  background-color: #0A273B;
  height: 100%;
  max-height: 240px;
}

.propertyCard:hover {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 16px;

}

.sectionImage {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 16px;
  opacity: 60%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 16px;
}

.propertyName {
  color: #FFFFFF;
  font-family: 'Montserrat';
  /* Apply Montserrat font */
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;

}

.arrowLink {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 24px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #FFFFFF;
}

.arrowLink:hover {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}

.arrowLink svg {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  width: 14px;
  height: 100%;
}

.galleryContainer {
  max-width: 100%;
  padding: 20px;
}

.galleryRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.galleryItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.galleryImage {
  border-radius: 10px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  width: 100%;
  height: 100%;
}

.galleryImage:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  border-radius: 16px;
  -o-object-fit: cover;
  object-fit: cover;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  color: #07151F;
  margin-bottom: 10.5px;
  border-bottom: 1px solid #E6EBED;
  padding-bottom: 12px;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.375rem;
  color: #07151F;
  font-size: 16px;
  font-weight: 500;
}

.feature img {
  width: 20px;
  height: 14px;
}

.feature svg {
  color: #6b7280;
}

@media (max-width: 1600px) {
  .exteriorimage {
    max-width: 320px;
  }

  .interiorimage {
    max-width: 320px;
  }
}

@media (max-width: 1400px) {
  .qrbody {
    text-align: center !important;
    display: block !important;
  }

  .qrbody img {
    width: 149px !important;
    height: 148px !important;

  }

  .buildingImage {
    width: 100% !important;
  }
}

@media (max-width: 1200px) {
  .qrbody {
    text-align: center !important;
    display: block !important;
  }

  .qrbody img {
    width: 149px !important;
    height: 148px !important;

  }

  .buildingImage {
    width: 100% !important;
  }
}

@media (max-width: 992px) {
  .qrbody {
    text-align: center !important;
    /* display       : block !important; */
    /* text-align    : center !important; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .qrbody img {
    width: 149px !important;
    height: 148px !important;

  }

  .buildingImage {
    width: 100% !important;
  }

  .qrButtons {
    display: block;
  }
}

@media (max-width: 768px) {
  .offplanebanner {
    position: relative;
    width: 100%;
    height: 230px !important;
    border-radius: 0;
    min-height: 200px !important;
    margin: 0;
    padding: 0;
    max-width: 100%;
  }

  .bannerContent {
    border-radius: 0;
  }

  .propertyDetails {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
  }

  .propertyDetails h2 {
    font-size: 20px;
    color: #0A273B;
    margin-bottom: 16px;
    font-family: 'Montserrat';
  }

  .aedPricestart {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

  }

  .personalInfo {
    height: 80px;
    max-width: 100%;
  }

  .contactBtnperson {
    width: 149px;
    height: 40px;
    gap: 10px;
    border-radius: 8px;
    padding-top: 12px;
    padding-right: 70px;
    padding-bottom: 12px;
    padding-left: 70px;

  }

  .whatsappperson {
    width: 149px;
    height: 40px;
    gap: 10px;
    border-radius: 8px;
    padding-top: 12px;
    padding-right: 50px;
    padding-bottom: 12px;
    padding-left: 30px;

  }

  .sharelist {
    width: 306px;
    height: 40px;
    top: 176px;
    left: 24px;
    border-radius: 8px;
    border-width: 1px;

  }

  .contactBtn {
    width: 354px;
    height: 40px;
    gap: 10px;
    border-radius: 8px;
    border-width: 2px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    margin-left: 0;
    margin-right: 0;

  }
  .contactButton{
    margin-top: 20px;
    text-align: right;
    margin-right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  .locationMapBtn {
    width: 306px;
    height: 40px;
    border-radius: 8px;
    border-width: 1px;

  }

  .pricing {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 5px;
  }

  .description {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin: 0;

  }

  .aedPrice {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .usdPrice {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .bannerImage {
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 0;
    border-radius: 0px;
    opacity: 80%;
  }

  .contentWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .bannerContent h1 {
    font-family: ' Felix Titling';
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;

  }

  .qrSection {
    margin-top: 32px;
  }

  .buildingSection {
    margin: 32px 0;
  }
  .line{
    display: none;
  }
  .buildingImage {
    width: 100%;
    height: auto;
    border-radius: 0px;
    max-height: 273px;
  }

  .amenitiesList {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .amenitiesList::marker {
    display: none;
  }

  .nearbyGrid {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 40px;
  }
  .nearbyPlace{
    padding-bottom: 2.4px;
  }
  .nearbyColumn {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 0;
    border-bottom: 1px solid #E5E7EB;
    margin-top: 2.4px;
  }

  .nearbyImage {
    width: 32px;
    height: 32px;
    border-radius: 8px;
  }

  .placeName {
    font-size: 14px;
    font-weight: 500;
    color: #07151F;
  }

  .placeDistance {
    font-size: 14px;
    font-weight: 500;
    color: #007AFF;
  }

  .qrCard {
    margin-top: 16px;
    max-width: 354px;
    max-height: 240px;
    margin-left: 0;
    margin-right: 0;
  }

  .qrCardmodern {
    border: 1px solid #07151F;
    border-radius: 12px;
    padding: 24px;
    background: #fff;
    max-width: 354px;
    margin-left: 0;
    margin-right: 0;
  }

  .qrCardmodern h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 24px;
    font-family: 'Montserrat';
    text-align: flex-start;
  }

  .qrbody {
    justify-content: flex-start;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    max-height: 90px;
  }

  .qrbody img {
    width: 92px !important;
    height: 90px !important;
    flex-shrink: 0;
  }

  .qrText {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0%;
    text-align: flex-start;
    margin-bottom: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    height: 90px;
    display: flex;
  }

  .mapWrapper h4 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

  }

  .qrButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
    width: 100%;
  }

  .downloadBtn,
  .enquireBtn {
    width: 100%;
    padding: 12px 20px;
    border-radius: 32px;
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
    font-family: 'Montserrat';
  }

  .downloadBtn {
    background-color: #0A2C3D;
    border: 1px solid #0A2C3D;
    color: white;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    border-radius: 8px;
  }

  .enquireBtn {
    background-color: white;
    border: 1px solid #E5E7EB;
    color: #333;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    border-radius: 8px;
  }

  .featuresSection,
  .amenitiesSection {
    margin-bottom: 40px;
  }

  .featuresSection h3,
  .amenitiesSection h3 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 24px;
    margin-top: 24px;

  }

  .featuresList {
    list-style: none;
    padding: 0;
  }

  .featuresList img {
    margin-right: 10px;
  }

  .featuresList li {
    position: relative;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
    letter-spacing: 0%;
    color: #07151F;
  }

  .amenitiesList {
    font-size: 14px;
  }

  .locationSection {
    margin: 0;
  }

  .locationSection h3 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;

  }

  .mapWrapper {
    height: 220px;
  }

  .locationSection h4 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

  }

  .exteriorInteriorSection {
    margin-top: 0;
    padding: 24px 0;
  }

  .sectionHeader {
    margin-bottom: 24px;
    padding: 0 16px;
    display: block;
  }

  .exteriorInteriorSection h3 {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .switcher {
    gap: 8px;
  }

  .switchButton {
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 8px;
  }

  .content {
    padding: 0;
  }

  .exteriorimage {
    width: 280px;
    height: 200px;
    border-radius: 12px;
    left: 5px;
    position: relative;
  }

  .swiperSlide {
    width: 360px !important;
    height: 240px !important;
    margin-right: 16px;
  }
  .sectionImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 240px;
  }

  .fancybox__toolbar {
    position: absolute !important;
    top: 12% !important;
    left: 0 !important;
    right: 0 !important;
  }
}

@media (max-width:480px) {

  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    color: #07151F;
    margin-bottom: 10.5px;
    border-bottom: 1px solid #E6EBED;
    padding-bottom: 12px;
  }

  .aedPricestart {
    font-size: 14px;
  }

  .usdPrice {
    font-size: 14px;
  }

  .aedPrice {
    font-size: 14px;
  }

  .propertyDetails h2 {
    font-size: 20px;
  }

  .qrCard {
    max-width: 354px;
  }

  .qrCardmodern {
    max-width: 354px;
  }

  .personalInfo img {
    width: 80px;
    height: 80px;
    border-radius: 8px;

  }

  .consultantName {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;

  }

  .languages {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0%;

  }

  .email {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0%;

  }

  .contactButtons {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
    width:306px;
  }

  .contactBtnperson,
  .whatsappperson {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 40px;
    min-width: 0;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    border-radius: 12px;
    padding: 0;
  }

  .contactBtnperson svg,
  .whatsappperson svg {
    margin-right: 8px;
    min-width: 16px;
    min-height: 16px;
    display: inline-block;
    vertical-align: middle;
  }

  .qrCardmodern h3 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 0;

  }

  .downloadBtn {
    width: 306px;
    height: 36px;
    gap: 10px;
    border-width: 2px;
    border-radius: 8px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;


  }

  .sharelist {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;

  }

  .enquireBtn {
    width: 306px;
    height: 36px;
    gap: 10px;
    border-width: 1px;
    border-radius: 8px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;


  }

  .qrbody {
    padding: 0;
  }

  .nearbyColumn {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 0;
    border-bottom: 1px solid #E5E7EB;
    margin-top: 2.4px;
  }
  .fancybox__toolbar {
    position: absolute;
    top: 12% !important;
    left: 0;
    right: 0;
}
}
@media (max-width:400px) {
  .swiperSlide{
    width: 330px !important;
    height: 240px !important;
  }
  .feature{
    font-size: 14px;
  }
  .aedPrice{
    font-size:13px;
  }
  .usdPrice{
    font-size:13px;
  }
  .aedPricestart{
    font-size:13px;
  }
  .contactButtons{
    width: 280px;
  }
  .sharelist{
    width: 280px;
  }
  .downloadBtn{
    width: 280px;
  }
  .enquireBtn{
    width: 280px;
  }
  .sectionTitle{
    font-size: 20px;
  }
  .swiperSlide{
    width: 300px !important;
    height: 200px !important;
  }
  .exteriorimage{
    width: 300px;
    height: 200px;
  }
  .fancybox__toolbar{
    top: 30% !important;
  }
  
}
