.title h1{
    font-size: 24px;
    line-height: 29.26px;
    margin-bottom: 16px;
    color: #0A273B;
}
.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 1rem;
}
.card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}
.description {
    font-size: 12px;
    line-height: 14.63px;
    color: #0A273B;
    margin-bottom: 20px;
}
.card-img-top {
    max-width: 23.25rem;
    max-height: 12.5rem;
    width: 100%;
    height: auto;
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
    object-fit: cover;
    
}

.card-body {
    padding: 15px;
    height: 12.5rem; /* Keep fixed height */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This will push button to bottom */
}

.card-title {
    font-size: 16px;
    margin-bottom: 0.75rem;
    font-weight: 500;
    color: #0A273B;
}

.card-list {
    margin-bottom: 1rem;
    color: #555;
    font-size: 12px;
    flex-grow: 1; /* Allow text content to expand */
}


.card-list li {
    margin-bottom: 0.5rem;
}
.date {
    font-size: 12px;
    color: #007AFF;
    line-height: 14.63px;
}
.formattedDate {
    color: #7ACBC4;
}
.calendarIcon {
    margin-right: 5px;
    color: #007AFF;
}
.card-button {
    background-color: #0A273B;
    border: none;
    padding: 8px;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 99px;
    height: 32px;
    margin-top: auto; /* This pushes button to bottom */
}

.card-button:hover {
    background-color: #0056b3;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/* Create a content wrapper for text elements */
.contentWrapper{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pageButton {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.pageButton.active {
    background-color: #0A273B;
    color: white;
    border-color: #0A273B;
}

.pageButton:hover {
    background-color: #ddd;
}