/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Search Container */
.searchContainer {
  position: relative;
  width: 100%;
  max-width: 768px;
}

.searchInput {
  width: 100%;
  padding-left: 40px;
  width: 768px;
  height: 40px;
  top: 172px;
  left: 180px;
  border-radius: 4px;
  border-width: 1px;
  border-color: #0A273B;
  border-style: solid;
  background-color: #fff;
  color: #0A273B;
  font-family: 'Montserrat';


}
  .searchInput::placeholder{
    font-family: 'Montserrat';
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(7, 21, 31, 1);

  }
.searchIcon {
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Container */
.container {
  padding: 16px;
}

/* Row */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 16px;
}

/* Column */
.col {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 calc(50% - 16px);
  flex: 1 1 calc(50% - 16px);
  margin-bottom: 16px;
}

/* Cards Container */
.cardsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 16px;
}

/* Card Wrapper */
.cardWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Card */
.card {
  width: 768px;
  height: 341px;
  border-radius: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: #e0e0e0;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card:hover {
  border: 1px solid #0A273B;
}

.cardRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
}

/* Image Container */
.imageContainer {
  width: 340px;
  height: 340px;
  position: relative;
  height: auto;
  overflow: hidden;
}

.cardImage {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.cardImage:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* Image Navigation */
.imageNav {
  top: 50%;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}

.prevButtonimage,
.nextButtonimage {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

/* Content */
.cardContent {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0;
  margin-bottom: 12px;
  color: #0A273B;
}

.description {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  margin-bottom: 24px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  color: #07151F;
  overflow: hidden;
  text-overflow: ellipsis;
  /* Limit text to 6 lines */
  display: -webkit-box;
  -webkit-line-clamp: 6;
  line-clamp: 6; /* Standard property */
  -webkit-box-orient: vertical;
  /* Fallback for browsers that don't support line-clamp */
  max-height: calc(1.3em * 6);
}

.communitiesSection {
  margin-top: 0;
}

.communitiesTitle {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0;
  margin-bottom: 12px;
}

.communitiesList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 8px;
}

.badge {

  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #07151F;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0;
  font-family: "Montserrat";
  color: #07151F;
}

/* Buttons Container */
.buttonsSection {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contactButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.call,
.whatsapp {

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 5px;
  padding: 8px 16px;
  border-radius: 4px;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  border: none;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.call {
  background-color: #0a273b;
  padding: 8px 16px;
  height: 32px;
  gap: 10px;
  border-radius: 4px;

}

.call svg {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 16px;
  height: 16px;
}

.call:hover {
  background-color: #07151f;
}

.whatsapp {
  background-color: #7acbc4;
}

.whatsapp:hover {
  background-color: #5aa8a1;
}

.readMore {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #0A273B;
  background-color: transparent;
  border: none;
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;
  bottom: -14px;
  position: relative;
  /* height: auto; */
  height: 17px;
}
.paginationMany{
  width: auto !important;
}
.readMore:hover {
  color: #0056b3;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 38px;
  margin-bottom: 142px;
  gap: 6px;
  height: 48px;
}

.pageButton {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #07151F;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
  width: 46px;
  height: 46px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 2px;
}

.pageButton:last-child {
  width: 84px;
  height: 46px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #0A273B;
  margin-top: 2px;

}

.pageButton.active {
  background-color: #0A273B;
  color: white;
  border-color: #0A273B;
  width: 48px;
  /* Ensure same width */
  height: 48px;
  /* Ensure same height */
  margin: 0;
}

.pageButton:hover {
  background-color: #ddd;
}


.prevButton,
.nextButton {
  padding: 8px 12px;
  border-radius: 4px;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  -o-transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 4px;
}

.prevButton:disabled,
.nextButton:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.mobilePagination {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.pageInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  
}
.pageText{
  font-family: 'Montserrat';
font-size: 12px;
color: rgba(10, 39, 59, 1);
}
.pageSelect {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid rgba(7, 21, 31, 1);
  background-color: #fff;
  font-family: 'Montserrat';
  font-size: 16px;
  color: #0A273B;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../../assets/img/mobilepagesvg.svg");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 12px;
  padding-right: 36px;
  width: 55px;
  height: 36px;
  margin-right: 24px;
}
.pageTotal{
  font-family: 'Montserrat';
font-weight: 400;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
margin-right: 56px;

}
.title_main{
  font-size: 20px;
  font-weight: 500;
  color: #0A273B;
  margin-bottom: 8px;
  line-height: 1.4;
  font-family: 'Montserrat';
}
.title_second{
  font-size: 16px;
  font-weight: 500;
  color: #0A273B;
  margin-bottom: 8px;
  line-height: 1.4;
  font-family: 'Montserrat';
}
.mobilePagination .pageButtonmobile{
  border-radius: 4px;
  border: 1px solid rgba(7, 21, 31, 1);
  background-color: #fff;
  font-family: 'Montserrat';
  font-size: 16px;
  color: #0A273B;
  background-size: 12px;
  width: 40px;
  height: 36px;
  align-items: center;
}
@media (max-width: 1600px) {

  /* Search Container */
  .searchContainer {
    position: relative;
    width: 100%;
    max-width: 640px;
  }

  .searchInput {
    width: 100%;
    padding-left: 40px;
  }

  .searchIcon {
    top: 50%;
    left: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  /* Container */
  .container {
    padding: 16px;
  }

  /* Row */
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 16px;
  }

  /* Column */
  .col {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc(50% - 16px);
    flex: 1 1 calc(50% - 16px);
    margin-bottom: 16px;
  }

  /* Cards Container */
  .cardsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 16px;
  }

  /* Card Wrapper */
  .cardWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  /* Card */
  .card {
    width: 640px;
    height: 290px;
    border-radius: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #e0e0e0;
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .cardRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%;
  }

  /* Image Container */
  .imageContainer {
    width: 300px;
    height: 340px;
    position: relative;
    height: auto;
    overflow: hidden;
  }

  .cardImage {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  /* Image Navigation */
  .imageNav {
    top: 50%;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
  }

  .prevButtonimage,
  .nextButtonimage {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
  }

  /* Content */
  .cardContent {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .title {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 10px;
    line-height: 1.3;
    letter-spacing: 0;
    margin-bottom: 12px;
    color: #0A273B;
  }

  .description {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 10px;
    line-height: 1.3;
    margin-bottom: 24px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    color: #07151F;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Limit text to 6 lines with cross-browser compatibility */
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    display: -moz-box;
    -moz-line-clamp: 6;
    -moz-box-orient: vertical;
    display: box;
    line-clamp: 6;
    box-orient: vertical;
    /* Fallback for browsers that don't support line-clamp */
    max-height: calc(1.3em * 6);
  }


  .communitiesSection {
    margin-top: 0;
  }

  .communitiesTitle {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 10px;
    line-height: 1.3;
    letter-spacing: 0;
    margin-bottom: 12px;
  }

  .communitiesList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 3px;
  }

  .badge {
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #07151F;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.3;
    letter-spacing: 0;
    font-family: "Montserrat";
    color: #07151F;
  }

  /* Buttons Container */
  .buttonsSection {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .contactButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }

  .call,
  .whatsapp {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 10px;
    border-radius: 4px;
    font-family: "Montserrat";
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    border: none;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
  }

  .call {
    background-color: #0a273b;
    padding: 5px 10px;
    height: 28px;
    gap: 5px;
    border-radius: 4px;

  }

  .call svg {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 14px;
    height: 14px;
  }

  .call:hover {
    background-color: #07151f;
  }

  .whatsapp {
    background-color: #7acbc4;
  }

  .whatsapp:hover {
    background-color: #5aa8a1;
  }

  .readMore {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 10px;
    color: #0A273B;
    background-color: transparent;
    border: none;
    text-decoration: none;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
    cursor: pointer;
  }

  .readMore:hover {
    color: #0056b3;
  }

  .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 38px;
    margin-bottom: 142px;
    gap: 6px;
    height: 48px;
  }

  .pageButton {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #07151F;
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px;
    width: 46px;
    height: 46px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 2px;
  }

  .pageButton:last-child {
    width: 84px;
    height: 46px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #0A273B;
    margin-top: 2px;

  }

  .pageButton.active {
    background-color: #0A273B;
    color: white;
    border-color: #0A273B;
    width: 48px;
    /* Ensure same width */
    height: 48px;
    /* Ensure same height */
    margin: 0;
  }

  .pageButton:hover {
    background-color: #ddd;
  }



  .pageButton:hover {
    background-color: #ddd;
  }




}
@media (max-width:1640px){
  .card{
    width: 630px;
    height: 341px;
    border-radius: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #e0e0e0;
    overflow: hidden;
    transition: transform 0.2s;
    display: flex
;
    flex-direction: column;
  }
}
@media (max-width:1400px){
      .card {
        width: 550px;
        height: 341px;
        border-radius: 16px;
        border-width: 1px;
        border-style: solid;
        border-color: #e0e0e0;
        overflow: hidden;
        transition: transform 0.2s;
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:1200px)
{
  .card {
    width: 450px;
    height: 270px;
    border-radius: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #e0e0e0;
    overflow: hidden;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
}

}
@media (max-width: 768px) {
  .card {
    width: 100%;
    height: auto;
    border-radius: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #e0e0e0;
    overflow: hidden;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
  }
}
@media(max-width: 600px)
{
  .card{ 
    max-width: 450px;
  }
}
.mobileTitleOverlay {
  position: absolute;
  /* top: 74%; */
  left: 0;
  right: 0;
  padding: 15px;
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent); */
  z-index: 1;
  bottom: 0;
}

.mobileTitleOverlay h2 {
  font-family: 'Montserrat';
  color: white;
  font-size: 15px;
  margin: 0;
}

.imageContainer {
  position: relative;
  overflow: hidden;
}

@media (max-width: 480px) {
  .container {
    padding: 0 16px;
    max-width: 100%;
    margin: 0 auto;
  }

  .card {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  .searchContainer {
    position: relative;
    width: 100%;
    max-width: 354px;
    margin: 0 auto;
  }

  .searchInput {
    width: 100%;
    padding-left: 40px;
    border: 1px solid #07151F;
    border-radius: 8px;
    height: 48px;
  }

  .cardsContainer {
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    max-width: 354px;
    width: 100%;
  }

  .cardWrapper {
    max-width: 354px;
  }

  .communitiesList {
    gap: 8px;
  }

  .cardRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .imageContainer {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }

  .cardImage {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .cardContent {
    padding: 16px;
  }

  .title {
    display: none;
  }

  .description {
    font-size: 14px;
    margin-bottom: 16px;
  }

  .communitiesTitle {
    font-size: 14px;
  }

  .badge {
    font-size: 12px;
    padding: 6px 12px;
  }

  .buttonsSection {
    margin-top: 16px;
  }

  .call {

    width: 74px;
    height: 40px;
    border-radius: 8px;
  }

  .whatsapp {
    width: 112px;
    height: 40px;
    border-radius: 8px;
    font-size: 12px;

  }

  .readMore {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;

  }

  .cardsContainer {
    width: 354px;
  }

  .cardWrapper {
    width: 100%;
  }

  .searchInput {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;

  }
  .searchInput::placeholder{
    color: rgba(7, 21, 31, 1);
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .mobileTitleOverlay h2 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

  }

  .communitiesTitle {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .badge {
    font-weight: 400;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 0 16px;
    max-width: 100%;
    margin: 0 auto;
  }

  .card {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  .searchContainer {
    position: relative;
    width: 100%;
    max-width: 354px;
    margin: 0 auto;
  }

  .searchInput {
    width: 100%;
    padding-left: 40px;
    border: 1px solid #07151F;
    border-radius: 8px;
    height: 48px;
  }

  .cardsContainer {
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    width: 100%;
  }

  .cardWrapper {
    max-width: 100%;
  }

  .communitiesList {
    gap: 8px;
  }

  .cardRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .imageContainer {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }

  .cardImage {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .cardContent {
    padding: 16px;
  }

  .title {
    display: none;
  }

  .description {
    font-size: 14px;
    -webkit-line-clamp: 3;
    margin-bottom: 16px;
  }
  .searchInput::placeholder{
    color: rgba(7, 21, 31, 1);
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .communitiesTitle {
    font-size: 14px;
  }

  .badge {
    font-size: 12px;
    padding: 6px 12px;
  }

  .buttonsSection {
    margin-top: 16px;
  }

  .call {

    width: 74px;
    height: 40px;
    border-radius: 8px;
  }

  .whatsapp {
    width: 112px;
    height: 40px;
    border-radius: 8px;
    font-size: 12px;

  }

  .readMore {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;

  }

  .cardsContainer {
    width: 100%;
  }

  .cardWrapper {
    width: 100%;
  }

  .searchInput {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;

  }

  .mobileTitleOverlay h2 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

  }

  .communitiesTitle {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .badge {
    font-weight: 400;
  }
}