.developerSection {
    display: flex;
    padding: 20px;
    background-color: #f9f9f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.statsContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.statBox {
  text-align: center;
}

.statCircle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #e0e0e0;
  margin: 0 auto 10px;
}

.developersSection {
  text-align: center;
  margin-bottom: 40px;
}

.teamGrid {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.teamMember {
  text-align: center;
}

.teamImage {
  border-radius: 50%;
}

.careersSection {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.careersSectiontext {
  text-align: center;
  margin-bottom: 20px;
}

.careerstitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.vacanciesGrid {
  display: flex;
  justify-content: space-around;
}

.vacancyCard {
  background-color: #e0e0e0;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}