@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400; /* Normal */
    font-style: normal;
    font-display: swap; /* Ensures text is visible while the font loads */
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700; /* Bold */
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Italic.woff2') format('woff2');
    font-weight: 400; /* Normal */
    font-style: italic;
    font-display: swap;
  }