/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.blogShow img {
    width: 100%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 36px;
    max-height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
       border-radius: 16px;
}
.title{
    font-size: 32px;
    line-height: 39px;
    color: #0A273B;
     font-family: 'Montserrat';
}
.date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    margin-top: 24px;
    margin-bottom: 52px;
     font-family: 'Montserrat';
}
.formattedDate {
    color: #007AFF;
     font-family: 'Montserrat';
}
.description {
    font-weight: 400;
    font-size: 20px;
    line-height: 24,38px;
     font-family: 'Montserrat';
}
.card {
    margin-bottom: 20px;
    border: none;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    max-width: 372px;
    margin-left: 0;
}
.card-button {
    background-color: #0A273B;
    border: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    color: white;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
}

.card-button:hover {
    background-color: #0056b3;
}
.card-img-top {
    max-width: 23.25rem;
    max-height: 12.5rem;
    width: 100%;
    height: auto;
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
    -o-object-fit: cover;
       object-fit: cover;
}

.card-body {
    padding: 15px;
     font-family: 'Montserrat';
     border-bottom-right-radius: 16px;
     border-bottom-left-radius: 16px;
     border: 1px solid #E0E0E0;
}

.card-title {
    font-size: 16px;
    margin-bottom: 0.75rem;
    font-weight: 500;
    color: #0A273B;
     font-family: 'Montserrat';
}

.card-list {
    margin-bottom: 1rem;
    color: #555;
}

.card-list li {
    margin-bottom: 0.5rem;
}
.sidebar {
    padding-left: 0;
    margin-left: 26%;
}

.sidebar h3 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 16px;
    text-align: left;
}

.description p {
    margin-bottom: 20px;
     font-family: 'Montserrat';
}
@media (max-width: 768px) {
    .banner_image{
        width: 100%;
        height: 240px !important;
        border-radius: 0%;
    }
    .title{
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        margin-top: 16px;
        
    }
    .date{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 10px;
        margin-top: 16px !important;
        margin-bottom: 16px !important;
         font-family: 'Montserrat';
    }
    .date img{
        width: 17px;
        height: 20px;
        color: #0A273B;
        
    }
    .similarArticles_header h3{
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;

    }
    .formattedDate{
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%; 
        color: #0A273B;
        

    }
    .description{
        font-family: 'Montserrat';
font-weight: 400;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;

    }
    .sidebar h3 {
        font-family: 'Montserrat';
font-weight: 600;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;

    }
    .similarArticles_header{
        display: flex;
        justify-content: space-between;
    }
    .similarArticles_header span{
        font-family: 'Montserrat';
            font-weight: 600;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #007AFF;

    }
    .similarArticles {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex !important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 16px;
    }
    .similarArticles .card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 12px;
        margin-bottom: 16px;
        -webkit-box-shadow: none;
                box-shadow: none;
        margin-top: 24px;
    }
    .similarArticles .card-img-top {
        width: 120px; /* Corrected width */
        height: 70px; /* Corrected height */
        border-radius: 8px;
        -o-object-fit: cover;
           object-fit: cover; /* Ensures the image fits properly */
    }
    .similarArticles .card-body {
        padding: 0;
    }
    .similarArticles .card-title {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 4px;
    }
    .similarArticles .formattedDate {
        font-size: 12px;
        color: #555;
    }
    .similarArticles .card-button {
        display: none;
    }
}